.contenedor{
    width: 80%;
    max-width: 1000px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #669999;
    padding: 5px;
    border-radius: 15px;
}
figure{
    text-align: center;
    margin: 100px;
}

img{
    width: 400px;
}
.imagen-1{
    transform: rotate(15deg);
}
.imagen-2{
    transform: rotate(90deg);
}
.imagen-3{
    transform: rotate(-15deg);
}

footer{
    border-top: 2px solid #1F47A8;
    padding-top: 10px;
    text-align: center;
}